//
// Custom Variables
// --------------------------------------------------

//Styleguide design
$sg-aside-header-mobile: 120px;
$sg-grey-border: #eaeaea;
$sg-grey-background: #fafafa;
$sg-black-title: #444;
$sg-black-text: #888;
$sg-blue: #3ab4ff;
