<!DOCTYPE html>
<html lang="fr">

{% set description = "" %}
{% set keywords = "" %}
{% set url = "" %}

{% include 'partials.head' %}

<body class="{{ context }}">

	{% block content %}
	{% endblock %}


	{% if context == 'styleguide' %}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.js" data-manual></script>
		<script>
			document.addEventListener("DOMContentLoaded", function(event) {
				var highlightScope = document.getElementsByClassName('language-markup'),
					highlightScopeLen = highlightScope.length;
				function escapeHtml(string) {
					var escaped = {
						'&': '&amp;',
						'<': '&lt;',
						'>': '&gt;',
						"'": '&#39;',
						'"': '&quot;',
						'	': ' '
					};
					return string.replace(/[&<>'"	]/g, function(character) {
						return escaped[character];
					});
				}
				for (var i = 0; i < highlightScopeLen; i++) {
					var innerHTML = highlightScope[i].innerHTML,
						newInnerHTML = escapeHtml(innerHTML);
					highlightScope[i].innerHTML = newInnerHTML;
				}
				Prism.highlightAll();
			});
		</script>
	{% endif %}

	<script type="text/javascript" src="/assets/js/twigstarter-1.0.0.min.js"></script>

	<script type="text/javascript">
		var $buoop = {vs:{i:8,f:20,o:17,s:6},reminder:0};
		$buoop.ol = window.onload;
		window.onload=function(){
			try {if ($buoop.ol) $buoop.ol();}catch (e) {}
			var e = document.createElement("script");
			e.setAttribute("type", "text/javascript");
			e.setAttribute("src", "//browser-update.org/update.js");
			document.body.appendChild(e);
		}
	</script>

</body>
</html>
